Source: warewulf-ipmi
Section: multiverse/net
Priority: optional
Maintainer: Maciej Dems <maciej.dems@p.lodz.pl>
Build-Depends: debhelper (>=9), autotools-dev, cpio, warewulf-common
Standards-Version: 3.9.6
Homepage: https://github.com/warewulf/warewulf3
#Vcs-Git: git://anonscm.debian.org/collab-maint/warewulf-ipmi.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/warewulf-ipmi.git

Package: warewulf-ipmi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nfs-kernel-server, nfs-common, debootstrap
Description: IPMI Module for Warewulf
 Warewulf >= 3 is a set of utilities designed to better enable
 utilization and maintenance of clusters or groups of computers.
 .
 This is the IPMI module package.  It contains Warewulf modules for
 adding IPMI functionality.
