#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

interfaces=$(ifconfig | sed 's/[ \t].*//;/^\(lo\|\)$/d' | sed ':a;N;s/\n/, /g')
default_interface=$(ifconfig | sed 's/[ \t].*//;/^\(lo\|\)$/d' | sed '$!d')

db_subst warewulf_provision/interface choices $interfaces
db_subst warewulf_provision/interface default $default_interface
db_input high warewulf_provision/interface || true
db_go
